.navbar-vertical {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 235px;
  padding-top: 15px;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-flex: 1;
  flex: 1;
  user-select: none;
  cursor: default;
  background-color: #000000;

  h1 {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.1rem;
    margin-left: 20px;
    margin-top: 10px;
    display: inline-block;
  }

  section {
    margin: 20px 10px 0px 20px;
  }

  a {
    padding: 5px auto 5px 5px;
    width: 210px;
    display: block;
  }

  a.navlink {
    padding: 0;
  }
}

.navbar-vertical svg,
.navbar-vertical h1 {
  color: #b2b2b2;
}

.navbar-vertical ul li:hover h1,
.navbar-vertical ul li:hover svg {
  color: white;
}

#spotify-icon svg {
  color: white;
  font-size: 40px;
}
#spotify-icon b {
  color: #ffffff;
}

.navbar-vertical .fas.fa-heart {
  background-color: rgb(65, 39, 167);
}

.current-page {
  background-color: #282828;
  border-radius: 5px;
}
.current-page svg,
.current-page h1 {
  color: #ffffff;
}

.navbar-vertical svg {
  font-size: 22px;
}
