$main_color: #1ed760;
$bg_color: #2d46b9;

#logout {
  background-color: $bg_color;
  color: $main_color;
  text-align: center;
  min-height: 100vh;
  padding: 30vh 100px;

  b {
    font-size: 7.5vw;
    display: block;
    line-height: 1em;
  }

  button {
    padding: 10px 25px;
  }

  #nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    display: flex;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;

    b {
      border-left: 2px solid $main_color;
      height: 30px;
    }
  }

  a {
    color: white;
    margin: 0 10px;
    font-weight: 600;
  }

  a:hover {
    color: $main_color;
    text-decoration: none;
  }
}
