// className="pl-5 rounded-pill p-1 "
//                 style={{ maxWidth: "350px", width: "90vw" }}

#search-input {
  // max-width: "500px";
  width: "4000x";
  padding: 5px 40px;
  border-radius: 20px;
  border: none;
}

.on-scroll {
  background: linear-gradient(#d38787, #b9bef5);
}
