footer {
  background-color: #181818;
  height: "70px";
  z-index: 10;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.player-right svg {
  font-size: 30px;
}

.player-center .progress {
  width: 100%;
}

.player-center .progress {
  height: 5px;
  background: #535353;
}

.progress div {
  color: #b3b3b3;
}

.progress-bar {
  background: #c2c2c2;
}

.progress:hover .progress-bar {
  background: #1db954;
}

footer svg {
  font-size: 30px;
  color: #b3b3b3;
  margin: 0 10px;
}

.player-center svg:first-of-type,
.player-center svg:last-of-type {
  font-size: 20px;
}

footer svg:nth-child(3) {
  font-size: 40px;
}

footer svg:hover {
  color: #ffffff;
}

#player {
  display: flex;
  justify-content: space-between;
  align-items: center;

  #player-center {
    min-width: 600px;
  }

  #player-right {
    min-width: 200px;
    .progress {
      width: 100px;
      height: 7px;
      margin: 6px 6px 0 0;
    }

    .progress-bar {
      background: #c2c2c2;
    }

    .progress:hover .progress-bar {
      background: #1db954;
    }
  }
}

#player-left {
  display: flex;
  align-items: center;
  margin-left: 5px;

  div {
    b {
      display: block;
      margin-left: 5px;
      text-align: start;
    }
  }
}
