.App {
  text-align: start;
}

.playlist {
  color: white;
  margin: 5px;
  padding: 5px;
  height: 140px;
  overflow: auto;
  vertical-align: baseline;
}
/* End of Navbar vertical ***************************************************************************/

/* Main section  *******************************************************************/
#main-pages {
  color: white;
  margin: 70px 10px 10px 225px;
}

.track-container {
  background-color: #181818;
  border-radius: 4px;
  margin: 10px;
  padding-top: 15px;
  cursor: pointer;
}

.track-container:hover {
  background-color: #3b3b3b;
}

.img-container img {
  margin-bottom: 15px;
}

.img-container .btn-container {
  bottom: 90px;
  left: 130px;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  transform: translateX(8px);
}

.img-container .btn-container {
  display: none;
}

.img-container .btn-container button {
  background-color: #1db954;
  border-radius: 50%;
  border: none;
  position: relative;
  padding: 10px 13px 10px 15px;
  cursor: default;
  transform: all 0.01s ease-in-out;
}

.btn-container button:hover {
  transform: scale(1.05);
}

.track-container:hover .img-container .btn-container {
  display: block;
}

.track-body {
  text-align: start;
}

.track-body > * {
  margin-left: 15px;
}

.track-body {
  padding-bottom: 15px;
}

.track-body a {
  color: #ffffff;
}

.col {
  padding: 0;
  text-align: center;
}
/*End of Main section  */

.card-body {
  background-color: #181818;
}
