.App {
  text-align: start;
  background-color: #121212;
}

/* Navbar vertical */
.flex-column {
  padding-top: 24px;
}

.flex-column h1 {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1rem;
  margin-left: 20px;
  margin-top: 20px;
  display: inline;
  color: #b2b2b2;
}

.flex-column i {
  padding: 6px;
}

.flex-column .playlist {
  color: white;
  margin: 5px;
  padding: 5px;
  height: 140px;
  overflow: auto;
  vertical-align: baseline;
}
/* End of Navbar vertical */

/* Main section  */
.mainGrid {
  display: grid;
}

.card-body {
  background-color: #181818;
}

.on-scroll {
  background-image: linear-gradient(to left, rgb(46, 55, 56), rgb(63, 57, 57));
}
