.App {
  text-align: start;
  background-color: #121212;
}

/* Navbar vertical */
.flex-column {
  padding-top: 24px;
}

.flex-column h1 {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1rem;
  margin-left: 20px;
  margin-top: 20px;
  display: inline;
  color: #b2b2b2;
}

.flex-column i {
  padding: 6px;
}

.flex-column .playlist {
  color: white;
  margin: 5px;
  padding: 5px;
  height: 140px;
  overflow: auto;
  text-align: justify;
}
/* End of Navbar vertical */
