.App {
  text-align: start;
}

.playlist {
  color: white;
  margin: 5px;
  padding: 5px;
  height: 140px;
  overflow: auto;
  vertical-align: baseline;
}
/* End of Navbar vertical ***************************************************************************/

/* Main section  *******************************************************************/
#main-pages {
  color: white;
  margin: 70px 10px 10px 225px;
}

.track-container {
  background-color: #181818;
  border-radius: 4px;
  margin: 10px;
  padding-top: 15px;
  cursor: pointer;
}

.track-container:hover {
  background-color: #3b3b3b;

  .play-btn-cover {
    display: flex;
    transform: scale(1.05);
    bottom: 100px;
  }
}

.img-container img {
  margin-bottom: 15px;
}

.play-btn-cover {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  display: none;
  transform: all 0.01s ease-in-out;

  .play-btn {
    width: 35px;
    height: 35px;
    background-color: #1db954;
    border-radius: 50%;
    position: relative;
    cursor: default;
    right: 50px;

    .corner {
      content: "";
      display: inline-block;
      position: relative;
      top: 8px;
      left: 2px;
      border-style: solid;
      border-width: 7px 0 7px 15px;
      border-color: transparent transparent transparent white;
    }
  }
}

.track-body {
  text-align: start;
}

.track-body > * {
  margin-left: 15px;
}

.track-body {
  padding-bottom: 15px;
}

.track-body a {
  color: #ffffff;
}

.col {
  padding: 0;
  text-align: center;
}
/*End of Main section  */

.card-body {
  background-color: #181818;
}
